# Sprint 1

## Podcast listeners client base demographic Segmentation

### Motivation
Podcast space is a growing media space. Publishers and advertising agencies have been having a challenge in identifying different segments of listeners within this space. This might be due to the fact the industry is new and data around this industry is scattered and challenging to put together to make a picture of its audience.

### Result
Here we present a research study on podcast listeners data using advanced analytical methods to identify listeners segments. Take Netflix as an example, they are able to segment their user base in a way they can recommend existing content to them or identify what kind of new content to invest in and produce. For us here we attempt to provide something similar. We will provide meaningful insights to help publishers and advertising agencies reach their target audience.

### Research question
What are the various podcast listeners characteristic, trends and demographics segments in the Canadian podcast space?

### Sprint 1
In this sprint we are going to be focusing on exploring our data, conducting data cleaning and getting data to be more readable and ready for exploration

### What is needed
We are going to be using Python as a programing language. We are going to be using the following libararies in Sprint 1:
1. Pandas
2. Numpy

### Summary of Findings
Upon first exploring the data we found that data headers need to be mapped to a dictionary. This was challenging as our raw data set is composed of over 500 columns. So, we had to figure out a way to map both data sets with a function. We used a mapping function to rename all the columns on our raw data set so column names would become more readable.
Second, as we mentioned above, the data is composed of over 500 columns, so we had to do some understanding of the data set and drop columns. Here is what we did:
1.	We dropped all the columns that contain no data what is so ever. This was done by replacing white space with NaN values then dropping all columns of NaNs. With that we were left with 400 columns. Still a lot of columns and a lot of potential of unnecessary data.
2.	We looked at % of NaN on the 400 columns left and then we dropped all columns that contain 50% or less NaN values. This left us with 184 columns. This is more manageable.
3.	After dealing with data set for a period now, we can tell the data is huge and in a very messy complicated format. Data cleaning part is going to be taking longer than expected.
4.	We need to refine our columns mapping from the dictionary to our data set as dictionary column names are split over unknown number of rows which poses a challenge. Either map the 184 data columns manually or figure out a more sophisticated function to map data properly.

In [58]:
import pandas as pd
import numpy as np

# read data to panads 
data = pd.read_csv("C:\\users\\omarh\\downloads\\CSDA 1050 Capstone\\Project\\2018 Data from Jeff\\podcast18.csv") 

# read and convert data schema mapping into pandas
data_schema = pd.read_fwf("C:\\users\\omarh\\downloads\\CSDA 1050 Capstone\\Project\\2018 Data from Jeff\\Dictionary AI058 CdnPodcast 2018 FINALJun16 CLIENT.txt", header = 2)

#dict of mapping drived from data schema file
mapping = {}
# getting unique mapping of varible and lable
data_schema_unique = data_schema.groupby(['Variable', 'Label']).size().reset_index(name='Freq')
# use mapping dict to create a key value pair with varible as key and lable as value
for index, row in data_schema_unique.iterrows():
    if row['Label']:
        mapping[row['Variable']] = row['Label']

# use the mapping dict to rename the varibles of data file with our newly created shchema
data.rename(columns=mapping,inplace=True)

data.head(3);

In [49]:
data_schema.head(10)

,Variable,Unnamed: 1,Position,Label,Measurement,Level,Role,Column,Width,Alignment,Print,Format,Write,Format.1
0,study,NaN,1,STUDY IDENTIFICATION,Nominal,NaN,Input,26,NaN,Left,A75,NaN,A75,NaN
1,id,NaN,2,RESPONDENT ID,Scale,NaN,Input,10,NaN,Right,F8,NaN,F8,NaN
2,NaN,NaN,NaN,(99999999),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,twave,NaN,3,WAVE (DEFAULT 1),Nominal,NaN,Input,10,NaN,Right,F8,NaN,F8,NaN
4,arfrr,NaN,4,arfrr .REGION ROLLUP,Nominal,NaN,Input,10,NaN,Right,F1,NaN,F1,NaN
5,arfpr,NaN,5,arfpr .PROVINCE,Nominal,NaN,Input,10,NaN,Right,F2,NaN,F2,NaN
6,NaN,NaN,NaN,ROLLUP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,arfgen,NaN,6,arfgen .GENDER,Nominal,NaN,Input,10,NaN,Right,F1,NaN,F1,NaN
8,arfagerf,NaN,7,arfagerf .AGE ROLLUP,Ordinal,NaN,Input,10,NaN,Right,F1,NaN,F1,NaN
9,NaN,NaN,NaN,FINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
#data.groupby(['arfpr .PROVINCE','arfgen .GENDER','qs2g .FREQUENCY-']).size().reset_index(name='counts');

In [146]:
#data transformation test
#pd.get_dummies(data, columns=['qs2g .FREQUENCY-']);

In [44]:
data.describe()

,RESPONDENT ID,WAVE (DEFAULT 1),qp10aa .PROPORTION-,qp10ab .PROPORTION-,qp10ac .PROPORTION-,qp10ad .PROPORTION-,qp10ae .PROPORTION-,qp10af .PROPORTION-,qe1ba .%BY MYSELF,qe1bb .%WITH OTHERS,...,qe9ba .PROPORTION-,qe9bb .PROPORTION-,qe9bc .PROPORTION-,qe9bd .PROPORTION-,qm4a .INTEREST1 IN,QA1_Advertising_Podcast_1_Code,<none>,<none>,<none>,FINAL WEIGHT VARIABLE
count,1.534000e+03,1534.0,1534.000000,1534.000000,1534.000000,1534.000000,1534.000000,1534.0,1534.000000,1534.000000,...,1534.000000,1534.000000,1534.000000,1534.0,1534.0,1534.000000,1534.0,1534.000000,1534.000000,1534.000000
mean,5.764778e+06,201806.0,40.881356,48.548240,5.188396,1.526728,3.855280,100.0,88.761408,11.238592,...,30.422425,20.563233,49.014342,100.0,10001.0,561.456975,1.0,332.187744,450.526076,1.000000
std,6.124486e+04,0.0,36.663634,38.015034,13.830739,6.710703,12.003584,0.0,24.403312,24.403312,...,35.732465,27.665689,40.861864,0.0,0.0,477.692169,0.0,446.958090,478.861020,0.719400
min,5.691168e+06,201806.0,0.000000,0.000000,0.000000,0.000000,0.000000,100.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,100.0,10001.0,1.000000,1.0,3.000000,1.000000,0.220207
25%,5.701247e+06,201806.0,1.000000,10.000000,0.000000,0.000000,0.000000,100.0,91.250000,0.000000,...,0.000000,0.000000,2.000000,100.0,10001.0,34.000000,1.0,24.000000,34.000000,0.576557
50%,5.755331e+06,201806.0,33.000000,50.000000,0.000000,0.000000,0.000000,100.0,100.000000,0.000000,...,15.000000,10.000000,47.000000,100.0,10001.0,997.000000,1.0,47.000000,53.000000,0.807918
75%,5.834686e+06,201806.0,72.000000,90.000000,4.000000,0.000000,0.000000,100.0,100.000000,8.750000,...,53.000000,30.000000,100.000000,100.0,10001.0,998.000000,1.0,999.000000,999.000000,1.260848
max,5.861023e+06,201806.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.0,10001.0,999.000000,1.0,999.000000,999.000000,7.626968

In [237]:
data.shape

(1534, 584)

In [40]:
#replace all whitespace with NaN values
data.replace(' ', np.nan, inplace=True)

In [41]:
data.dropna(axis = 1, how= 'all', inplace = True)

In [42]:
data.shape

(1534, 400)

In [46]:
#viewing columns by % of NaN values
print (data.isnull().mean() * 100)

STUDY IDENTIFICATION               0.000000
RESPONDENT ID                      0.000000
WAVE (DEFAULT 1)                   0.000000
arfrr .REGION ROLLUP               0.000000
arfpr .PROVINCE                    0.000000
arfgen .GENDER                     0.000000
arfagerf .AGE ROLLUP               0.000000
arfracea .RACE1                   58.279009
arfraceb .RACE2                   86.505867
arfracec .RACE3                   67.014342
arfraced .RACE4                   95.371578
arfracee .RACE5                   58.083442
arfracef .RACE6                   98.239896
arfraceg .RACE7                   98.891786
arfraceh .RACE8                   98.109518
arfracei .RACE9                   98.370274
arfracej .RACE10                  96.675359
arfracek .RACE11                  93.611473
arfracel .RACE12                  96.936115
arfracem .RACE13                  99.674055
arfracen .RACE14                  96.870926
arfraceo .RACE15                  97.522816
arfhhs .HOUSEHOLD                  0.000000
r entirely responsibl              0.000000
r entirely responsibl              0.000000
r entirely responsibl              0.000000
arfkid .KIDS IN HH                 0.000000
arfeduc .HIGHEST                   0.000000
lf-employed full-time              0.000000
k                                  0.000000
                                    ...
PanelistCulture                    0.000000
<none>                             9.517601
PRIMARY                           10.299870
V455_A                            10.299870
QA1_Advertising_Podcast_1_Code     0.000000
QA1_Advertising_Podcast_2_Code    54.041721
QA1_Advertising_Podcast_3_Code    59.647979
QA2c_code_1                       63.168188
QA2c_code_2                       98.174707
<none>                             0.000000
COMPLETED INTERVIEW                0.000000
qp1c .COMBINED TIME                0.000000
<none>                            98.109518
qp5cnm_neth                       99.674055
qp5dnm_neth                       99.543677
qp5cdnm_neth                      99.282920
<none>                             0.000000
<none>                             0.000000
<none>                             0.000000
<none>                             0.000000
base                               0.000000
COUNT OF PODCASTS                  0.000000
<none>                            83.376793
<none>                            95.371578
<none>                            99.348110
<none>                            21.512386
FINAL WEIGHT VARIABLE              0.000000
arfgen & AGE WGT CATS              0.000000
EDUCATION WGT CATS                 0.000000
REGION WGT CATS                    0.000000
Length: 400, dtype: float64

In [19]:
data.isna().sum();

In [45]:
#print(data.isnull().mean() <= 0.5);

In [20]:
#drop columns with 50% NaN or more
data = data.loc[:, data.isnull().mean() <= .5]

In [47]:
data.shape

(1534, 184)

In [47]:
#verify
print (data.isnull().mean() * 100);